body {
  font-family: Roboto;
}
.header {
  background-color: #012d63;
  padding: 16px 0;
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 29px;
}
.header-link {
  color: #c7c7c7;

  font-size: 24px;
  font-style: normal;
  font-weight: 300;
}
.header-link:hover {
  color: #fff;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.section-hero {
  background: url("../img/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 183px;
  padding-top: 94px;
}
.hero-logo-text {
  color: #fff;
  margin: 0;
  font-family: PT Serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}
.hero-title {
  color: #fff;
  margin: 0;
  font-family: Playfair Display;
  font-size: 144px;
  font-style: normal;
  font-weight: 400;
  line-height: 115px;
}
.hero-title-text {
  color: #fff;
  margin: 0;
  font-family: Playfair Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
}
.hero-text {
  color: #fff;
  margin: 0;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;

  width: 508px;
}
.hero-button {
  color: #fff;
  margin: 0;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;

  border-radius: 10px;
  border: #8e32c6;
  background: #8e32c6;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 61px;
  padding-right: 61px;
}
.hero-logo {
  width: 160px;
  height: 120px;
}
.quality {
  background: url(../img/quality-background.png), no-repeat;
  padding-bottom: 130px;
  background-repeat: no-repeat;
  padding-top: 130px;
  background-size: cover;
}
.quality-text {
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
}
.quality-list {
  display: flex;
  justify-content: center;
  margin-left: -100px;
  margin-right: -70px;
}
.quality-container {
  outline: solid #8e32c6;
  outline-width: 5px;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 50px;
  padding-left: 50px;
}
.quality-item:not(:last-child)::after {
  width: 1px;
  height: 346px;
  background: #fff;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.quality-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 345px;
}
.revievs {
  background: url(../img/pains.png), url(../img/revievs-background.png);
  background-repeat: no-repeat;
  padding-top: 114px;
  background-size: 226px 380px, cover;
  padding-bottom: 25px;
  /* background-position: -114px, auto; */
  background-position: left bottom;
}
.revievs-text {
  color: #fff;

  font-size: 24px;
  font-weight: 400;

  margin-top: 49px;
  margin-bottom: 8px;
}
.revievs-date {
  color: #d8d8d8;

  font-size: 14px;

  font-weight: 400;

  margin-bottom: 47px;
}
.revievs-name {
  color: #fff;

  font-size: 14px;
  font-weight: 400;

  margin: 0;
}
.revievs-year {
  color: #fff;

  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
.revievs-title {
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
}
.revievs-list {
  display: flex;
  gap: 120px;
  margin-top: 24px;
}
.revievs-item {
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7b54b2;
  padding-left: 13px;
  padding-top: 49px;
  padding-right: 14px;
  padding-bottom: 29px;
}
.revievs-item-2 {
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 30px 0px -13px #61337c, 0px 14px 0px -5px #9159b1;
  padding-left: 18px;
  padding-right: 9px;
  padding-top: 49px;
  padding-bottom: 29px;
}
.revievs-item-3 {
  border-radius: 15px;
  background: linear-gradient(
    143deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 30px 0px -13px #732f26, 0px 14px 0px -5px #b95a4c;
  padding-left: 18px;
  padding-right: 9px;
  padding-top: 49px;
  padding-bottom: 29px;
}
.revievs-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.revievs-jonh {
  display: flex;
  flex-direction: column;
}
.input-text {
  width: 600px;
  height: 40px;
  border: 2px solid #fff;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background: #fff;
  color: #8d8d8d;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  padding: 10px;
  padding-left: 25px;
}
.btn-text {
  height: 63px;
  padding: 10px 78px 10px 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 2px solid #fff;
  background: #fff;
  color: #8d8d8d;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}
.order-section {
  background: url(../img/order-backround.png), no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 21px;
}
.input-country {
  border-radius: 50px;
  background: #fff;
  width: 580px;
  height: 50px;
  color: #959595;
  border: 2px solid #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  padding-left: 24px;
}
.order-title {
  color: #fff;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 33px;
}
.order-button {
  color: #fff;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  border-radius: 16px;
  background: #8e32c6;
  width: 248px;
  height: 68px;
  margin-right: 49px;
  margin-left: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid #8e32c6;
}
.order-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.have-text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}
.colo-text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  margin-bottom: 10px;
}
.footer {
  background: #021635;
  padding-top: 45px;
}
/* .have-list {
    display: flex;
    flex-direction: column;
  }
  .colo-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  } */
.footer-box {
  display: flex;
  justify-content: space-between;
  /* background: #9B9B9B;
    background-position: bottom;  */
}
.right-text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;

  width: 291px;
  margin-bottom: 7px;
}
.logo-text {
  color: #fff;
  font-family: PT Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.footer-line {
  background: #9b9b9b;
  width: 1110px;
  height: 1px;
}
.footer-box-line {
  display: flex;
  justify-content: space-between;
}
.right-item-top {
  margin-top: 24px;
}
